h1 {
    text-align: center;
    color: #00ff08;
    font-weight: 400;
    font-size: 40px;
    font-family: monospace Nova;
}

body {
    font-size: 16px;
    font-family: monospace;
    background-color: black;
    padding: 5px;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    color: #00ff08
}
div{
    font-size:16px;
}
button {
    border-radius: 20px;
    background-color: #00ff08;
    border-color: white;
    color: black;
}

input {
    border-radius: 20px;
    background-color: #00ff08;
    border-color: white;
    color: black;
}
select {
    border-radius: 20px;
    background-color: black;
    border-color: #00ff08;
    color: #00ff08;
}

label {
    color: aqua;
}

hr {
  height: 1px;
  background-color: #00ff08;
  border: none;
}

a {
  color: #00ff08
}