h1 {
    text-align: center;
    color: #00ff08;
    font-weight: 400;
    font-size: 40px;
    font-family: monospace Nova;
}


h3 {
  color: #00ff08;
  font-weight: 200;
  font-size: 18px;
  font-family: monospace;
}


body {
    font-size: 16px;
    font-family: monospace;
    background-color: black;
    padding: 5px;
    background-image: url('background.png');
    background-attachment: fixed;
    color: #00ff08
}


div{
    font-size:16px;
}


button {
    border-radius: 20px;
    background-color: #00ff08;
    border-color: white;
    color: black;
}


input {
    border-radius: 20px;
    background-color: #00ff08;
    border-color: white;
    color: black;
}


select {
    border-radius: 20px;
    background-color: black;
    border-color: #00ff08;
    color: #00ff08;
}


label {
    color: aqua;
}


hr {
  height: 1px;
  background-color: #00ff08;
  border: none;
}


a {
  color: #00ff08;
  font-family: monospace;
  font-style: italic
}


ul {
  list-style: square;
}
